html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #b71c1c;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-image: url("chinesebg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}

h1, h2 {
  color: rgb(255, 253, 253);
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 60px;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 30px;
}
#container {
  scroll-margin-top: 10px;
}
.card {
  background: #fff8f0;
  border: 2px solid #b30000;
  border-radius: 20px;
  padding: 30px;
  width: 320px;
  height: 400px;
  margin: 30px auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  font-family: 'Noto Serif SC', serif; 
  color: #5c0000;
  text-align: center;
  margin-bottom: 100px;
}

.input-group {
  margin-bottom: 20px;

}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

.input-group input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cc0000;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.button {
  background: linear-gradient(to right, #ffcc00, #ff9900);
  color: #5c0000;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin-top: 30px;
}

.button:hover {
  background: linear-gradient(to right, #ffdd33, #ff8800);

}


#result {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #222;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.horoscope-grid,
.zodiac-grid {
  display: inline-block;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 500px;
  box-sizing: border-box;
  text-align: center;
  height: 840px;
}

.horoscope-grid h3,
.zodiac-grid h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #b71c1c;
}

.horoscope-item {
  display: inline-block;
  width: 100px;
  margin: 20px;
  text-align: center;
  
}
.zodiac-item {
  display: inline-block;
  width: 100px;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}

.horoscope-item img{
  width: 90px;
  height: auto;
  border-radius: 6px;
}

.zodiac-item img {
  width: auto;
  height: auto;
  border-radius: 6px;
}

.horoscope-item span,
.zodiac-item span {
  font-family: 'Noto Serif SC', serif; 
  font-weight: bold;
  display: block;
  margin-top: 5px;
}
.horoscope-fortune {
  font-family: 'Noto Serif SC', serif; 
  display: none;
  margin-top: 40px;
  text-align: justify;
}

.zodiac-fortune {
  font-family: 'Noto Serif SC', serif; 
  display: none;
  margin-top: 40px;
}
.traits{
  font-family: 'Noto Serif SC', serif; 
  font-weight: bold;
  margin-top: -20px;
  text-align: center;
  text-transform: uppercase;
}
.trait-title{
  font-weight: bold;
  color: #f70909;
}
.horoscope-item small{
  font-size: 0.8rem;
  color: #555;
  margin-top: 90px;
}
.horoscope-item:hover,
.zodiac-item:hover{
  opacity: 60%;
}
#goTopBtn {
  background: linear-gradient(to right, #d32f2f, #c62828); 
  color: gold;
  border: 2px solid gold;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  width: 170px;
  cursor: pointer;
  margin-top: 50px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}

#goTopBtn:hover {
  background: linear-gradient(to right, #b71c1c, #880e4f);
  color: #fff;
  
}
@media (max-width: 768px) {
  .grid-container {
    flex-direction: column;
    align-items: center;
    display: flex;

  }

  .horoscope-grid,
  .zodiac-grid {
    width: 350px;
    height: 860px;
  }
  .horoscope-item img {
    height: 50px;
    width: auto;
    margin: 10px;
  }
  .horoscope-item {
    margin: 3px;
  }
  .zodiac-item img {
    height: 50px;
    width: auto;
    margin: 10px;
  }
  .zodiac-item {
    margin: 3px;
  }
}