body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #b71c1c;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

h1, h2 {
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 50px;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 30px;
}
#container {
  scroll-margin-top: 10px;
}
.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  text-align: left;
  height: 110px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 2px solid #4caf50;
  border-radius: 6px;
  font-size: 1rem;
  font-family: 'Georgia', serif;
}

.button {
  padding: 12px 20px;
  background-color: #c20000c7;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  text-decoration: none;
}

.button:active {
  background-color: #fdd835;
  transform: scale(0.95);
}


#result {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #222;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
}

.horoscope-grid,
.zodiac-grid {
  display: inline-block;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 480px;
  box-sizing: border-box;
  text-align: center;
  height: 840px;
}

.horoscope-grid h3,
.zodiac-grid h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #b71c1c;
}

.horoscope-item {
  display: inline-block;
  width: 100px;
  margin: 20px;
  text-align: center;
  
}
.zodiac-item {
  display: inline-block;
  width: 100px;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}

.horoscope-item img{
  width: 90px;
  height: auto;
  border-radius: 6px;
}

.zodiac-item img {
  width: auto;
  height: auto;
  border-radius: 6px;
}

.horoscope-item span,
.zodiac-item span {
  font-weight: bold;
  display: block;
  margin-top: 5px;
}
.horoscope-fortune,
.zodiac-fortune {
  display: none;
  color: red;
  margin-top: 40px;
}
.horoscope-item small{
  font-size: 0.8rem;
  color: #555;
  margin-top: 90px;
}
.horoscope-item:hover,
.zodiac-item:hover{
  opacity: 60%;
  cursor: pointer;
}
@media (max-width: 768px) {
  .grid-container {
    flex-direction: column;
    align-items: center;
    display: flex;

  }

  .horoscope-grid,
  .zodiac-grid {
    width: 350px;
    height: 860px;
  }
  .horoscope-item img {
    height: 50px;
    width: auto;
    margin: 10px;
  }
  .horoscope-item {
    margin: 3px;
  }
  .zodiac-item img {
    height: 50px;
    width: auto;
    margin: 10px;
  }
  .zodiac-item {
    margin: 3px;
  }
}